.color-red{
    background-color: red;
}
.color-white{
    background-color: silver;
}
.color-orange{
background-color: orange;
}
.color-brown{
    background-color: khaki;
}
.color-yellow{
    background-color: gold;
}