.color-col-12{
    background-color: gold;
   }
   .color-col{
       background-color: indianred;
   }
   .color-col-6{
       background-color: gray;
   }
   .color-pink{
       background-color: salmon;
   }
   .color-coffee{
       background-color: peru;
   }
   .color-green{
       background-color: palegreen;
   }